# Xcode
.DS_Store
*.xcodeproj
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
build/

.swiftpm/

*.bak
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcscmrepos
*.dSYM
*.o
*.lo
*.a
*.so
*.ll
*.lai
*.la
*.rlib
.swift-build/
.swift-server/
.build/
.artifactbundle/